<script >
export default {
  data () {
    return {

    }
  },
  mounted () {
    console.log(this.$refs.items)
  }
}
</script>

<template>
  <ul>
    <li v-for="item in 10" ref="items">
      {{ item }}
    </li>
  </ul>
</template>